* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 0.664);
}
.container {
  width: 50%;
  height: 50vh;
  border: 1px solid black transparent;
  margin: auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(100%, right);
}

#user_input {
  height: 5vh;
  width: auto;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 700;
  outline: none;
  padding-left: 5px;
}
#check_btn {
  height: 5vh;
  padding: 3px;
  font-weight: 700;
}
#result_out {
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 10px;
}
